################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Two Elements Digital/.vs/Two Elements Digital/DesignTimeBuild
/Two Elements Digital/.vs/Two Elements Digital/FileContentIndex
/Two Elements Digital/.vs/Two Elements Digital/v17
/Two Elements Digital/.vs
