<div class="card">
  <div class="card-body bgcolordarkolive padding1">
    <p class="textcenter textcolor">FREE SHIPPING ON ALL ORDER ABOVE 1000 | COMPLIMENTARY SAMPLE WITH EVERY ORDER</p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        HELLO
      </div>
      <div class="col-md-2">
        <div class="row">
          <img src="images/main-logo.png" alt="Two Elements Logo">
        </div>
        <div class="row">
          TWO ELEMENTS
        </div>
        <div class="row">
          EARTH & WATER
        </div>

      </div>
      <div class="col-md-5">
        HEELO
      </div>
    </div>
  </div>
</div>
